h2 Node.JS IRC
    #irc
      #connecting
        .wrap Connecting to socket.io server
      #messages
      form#message-form
        input#message-field(type='text')
        input(type='submit', value='Send')
